*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 0 150px;
    display:flex;
}


/*HEADER*/

/*STRUTTURA*/

header{
    height: 50px;
    background-color: #ff6900;
    line-height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 0.8rem;
    box-shadow: 10px 0 5px;
}

.header-container{
    align-items: center;
    justify-content: space-around;
}

.header-container div{
    width: calc(100% / 3);
}

.header-container__gender{
    text-align: left;
}

.header-container__logo{
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}

.header-container__login{
    text-align: right;
}



/*DECORATION*/

.header-container__gender_list li{
    display: inline-block;
    color: white;
}

.header-container__gender_list li a{
    color: white;
    font-weight: bold;
    margin: 5px;
    width: auto;
}

.header-container__logo img{
    width: 40%;
    margin: auto;
}


/*MAIN*/

/*STRUTTURA*/

.main-container{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main-container__prod{
    width: calc(100% / 3 - 25px );
    margin: 40px 10px;
    font-size: 0.8rem;
    position: relative;
}

.main-container__prod_margin-left{
    margin-left: 0;
}

.main-container__prod_margin-right{
    margin-right: 0;
}

.main-container__prod:hover .img-hover{
    display:inline-block;
}

.img-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

/*DECORATION*/

.main-container__prod img{
    width: 100%;
}

.main-container__prod_sale{
    position: absolute;
    bottom: 20%;
    color: white;
    font-weight: bold;
}

.prod_heart{
    width:58px;
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
    background-color: white;
    position:absolute;
    top: 5%;
    right: 0;
}

.prod_sale{
    background-color: red;
    padding: 2px;
}

.prod_sostenibility{
    background-color: green;
    padding: 2px;
}



/*CARD 1*/

.main-container__prod:first-child .old-price{
}

.main-container__prod:first-child .prod_sale{
    
}

.main-container__prod:first-child .prod_sostenibility{

}

/*CARD 2*/

.main-container__prod:nth-child(2) .old-price{
}

.main-container__prod:nth-child(2) .prod_sale{
    
}

.main-container__prod:nth-child(2) .prod_sostenibility{
    display: none;
}

/*CARD 3*/

.main-container__prod:nth-child(3) .old-price{
}

.main-container__prod:nth-child(3) .prod_sale{
    
}

.main-container__prod:nth-child(3) .prod_sostenibility{
    display: none;
}

/*CARD 4*/

.main-container__prod:nth-child(4) .old-price{
}

.main-container__prod:nth-child(4) .prod_sale{
    
}

.main-container__prod:nth-child(4) .prod_sostenibility{

}

/*CARD 5*/

.main-container__prod:nth-child(5) .old-price{
    display: none;
}

.main-container__prod:nth-child(5) .prod_sale{
    display: none;
}

.main-container__prod:nth-child(5) .prod_sostenibility{
    display: none;
}

/* CARD 6*/

.main-container__prod:nth-child(6) .old-price{
    display: none;
}

.main-container__prod:nth-child(6) .prod_sale{
    display: none;
}

.main-container__prod:nth-child(6) .prod_sostenibility{
}